[submodule "maskrcnn-benchmark"]
	path = maskrcnn-benchmark
	url = https://github.com/joe-siyuan-qiao/maskrcnn-benchmark.git
[submodule "pytorch-classification"]
	path = pytorch-classification
	url = https://github.com/joe-siyuan-qiao/pytorch-classification.git
[submodule "dgcnn"]
	path = dgcnn
	url = git@github.com:csrhddlam/dgcnn.git
[submodule "DeepLabv3.pytorch"]
	path = DeepLabv3.pytorch
	url = https://github.com/chenxi116/DeepLabv3.pytorch.git
